/* Alpha channel and opacity
div{
    height: 150px;
    width: 150px;
    background-color: #ff000080;
}

#opacity{
    background-color: orange;
    opacity: 0.5;
} */

/* Transition */
/* div{
    height: 50px;
    width: 50px;
    background-color: greenyellow;
    margin: 0 auto;
    margin-top: 10px;
    transition: margin-top 2s ease 2s;
}

div:hover{
    background-color: rgb(15, 72, 94);
    margin-top: 400px;
    transform: rotate(45deg);
} */

/* Transform */
section{
    margin-top: 100px;
}

div{
    border: 2px solid black;
    width: 200px;
    height: 40px;
    background-color: #7aa874;
    text-align: center;
    margin: 10px auto;
}

div:nth-of-type(2n){
    background-color: #f7db6a;
}

div:nth-of-type(3n){
    background-color: #ebb02d;
}

#one{
    transform: rotate(45deg);
}

#two{
    transform: scale(0.5);
}

#three{
    transform: translateX(-100px);
    /* shadow effect */
    box-shadow: 5px 5px 7px black;
}

#four{
    transform: skew(45deg);
}

#five{
    transform: rotate(45deg) translate(100px);
}

#image{
    background-image: url(image.jpg);
    background-size: contain;
}